<h3>About Me:</h3>
<p>My name is Peter Andringa, and I'm currently a high school student at <a href="http://tjhsst.edu">Thomas Jefferson High School for Science and Technology</a>, an elite high school in Northern Virginia specifically for students who love math, science, engineering, and computer science. I'm currently in my Sophomore year there, and I love studying there.</p>
<p>I'm always open to new opportunities or ideas, so don't hesitate to get in contact with me via email (<a href="mailto:peter@andrin.ga">peter@andrin.ga</a>), because I'd love to hear from you!</p>
<br>
<h5>Education</h5>
<ul>
	<li>Sophomore at TJHSST</li>
	<li>Much more to come...</li>
</ul>
<br>
<h5>Work Experience:</h5>
<ul>
	<li>2011 - Started iPhone app studio</li>
	<li>2013 - Summer intern at <a href="http://socialtables.com">Social Tables</a></li>
	<li>Organizer, <a href="http://tjhackathon.com">HackTJ</a></li>
	<li>2013 - DC Organizer at <a href="http://gopilot.org">Pilot</a></li>
</ul>
<br>
<h5>Skills:</h5>
<ul>
	<li>iPhone app development, with <a href="http://coronalabs.com">Corona SDK</a></li>
	<li>Python</li>
	<li>Java</li>
	<li>Web development (HTML, CSS, JS)</li>
	<li>Server-side development in PHP</li>
	<li>Server-side development in Node.JS</li>
	<li>Linux and Dev-Ops</li>
</ul>
<h5>References:</h5>
<a href="mailto:peter@andrin.ga">Available upon request</a>
