
<span id="social">
  <a href="https://twitter.com/p_andringa" id="Twitter" class="socialIcons" target="__blank"></a>
  <a href="https://facebook.com/peter.j.andringa" id="Facebook" class="socialIcons" target="__blank"></a>
  <a href="https://plus.google.com/105936787330120704498/" id="GooglePlus" class="socialIcons" target="__blank"></a>
  <a href="/blog" id="Blog" class="socialIcons" target="__blank"></a>
  <a href="http://medium.com/@p_andringa" id="Medium" class="socialIcons" target="__blank"></a>
  <a href="http://dropitto.me/pandringa" id="Dropbox" class="socialIcons" target="__blank"></a>
  <a href="http://github.com/pandringa" id="Github" class="socialIcons" target="__blank"></a>
</span>
<span id="footerText">
  <span id="thanks" class="footerContent">Thanks for Visiting!</span><br>
  <span id="copyright" class="footerContent">© 2013, Peter Andringa</span><br>
  <a href="/admin-panel" id="admin" class="footerContent" target="__blank">Go to Admin Panel</a>
</span>


