<a href="/" class="logo">Andrin.ga</a>
<div class="nav">
	<a href="mailto:peter@andrin.ga" class="links" id="nav-contact">Contact</a>
	<a href="/blog" class="links" id="nav-blog">Blog</a>
	<a href="/projects" class="links" id="nav-projects">Projects</a>
	<a href="/about" class="links" id="nav-about">About Me</a>
	<a href="/" class="links" id="nav-home">Home</a>
</div>

