<!-- footer.ejs -->
<footer class="navbar footer-nav">
    <div id="social">Facebook | Twitter | Github | Medium</div>
    <div id="copyright">This website © 2013, Peter Andringa</div><br>
</footer>
<!-- /footer.ejs -->
