<div id="header">
  <span class="logo">Andrin.ga</span>
  <span class="nav"><a href="/" class="links">Home</a><a href="/about" class="links">About Me</a><a href="/projects" class="links">Projects</a><a href="/blog" class="links">Blog</a></span>
</div>
