 #content{
  width: 250px;
  height: 300px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#login{
	margin-top: 30px;
}
label {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
input {
	margin-bottom: 15px;
	display: inline-block;
	width: 80%;
	border-radius: 5px;
	height: 20px;
	padding: 4px;
	margin-left: 0px;
	font-family: Lato;
	font-size: 14px;
	text-align: left;
}
input.submit {
	width: 212px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	padding: 5px;
	padding-bottom: 20px;
	height: 38px;
	background-color: #DDD;
	border-color: #DDD;
	font-family: 'Snippet';
	font-size: 22px;
	font-weight: normal;
	color: black;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
	border-style: outset;
}
input.submit:hover {
	color: #0099CC;
	box-shadow:0 1px 0 rgba(255,255,255,0.75);
	border-style: inset;
}