@import url(../css/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Snippet);
@font-face {
  font-family: 'monr';
  src: url("../fonts/montserratt/montserrat-regular-webfont.eot");
  src: url("../fonts/montserratt/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratt/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserratt/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserratt/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Force SVG on webkit browsers (Chrome on Windows font fix) */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'monr';
    src: url("../fonts/montserratt/montserrat-regular-webfont.svg#montserratregular") format("svg");
}
}
/* General Rules */
/* line 7, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 10, ../sass/screen.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato",sans-serif;
  font-weight: 300;
}

/* line 16, ../sass/screen.scss */
h2 {
  font-family: 'Snippet';
  font-weight: normal;
  color: black;
  font-size: 30px;
}

/* line 22, ../sass/screen.scss */
a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 27, ../sass/screen.scss */
a:hover {
  color: #D6EDFF;
}

/* line 31, ../sass/screen.scss */
.greet {
  font-size: 1.5em;
  font-weight: 300;
  margin: 5px;
  margin-left: 0px;
}

/* Background */
/* line 39, ../sass/screen.scss */
#background {
  /*
  background-image: url(../img/backgrounds/ticks.png);
  background-repeat: repeat;
  */
  background-color: #425C81;
  background-attachment: fixed;
  width: 100%;
}

/* General Rules for Sections */
/* line 52, ../sass/screen.scss */
section {
  min-height: 120%;
  padding-top: 5%;
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
}
/* line 58, ../sass/screen.scss */
section .sectionTitle {
  margin-bottom: 30px;
  font-size: 50px;
}

/* Header Section */
/* line 66, ../sass/screen.scss */
#head {
  min-height: 100%;
}
/* line 68, ../sass/screen.scss */
#head .centered {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
/* line 78, ../sass/screen.scss */
#head .centered .logo {
  font-family: 'Snippet';
  font-weight: normal;
  color: black;
  font-size: 60px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 88, ../sass/screen.scss */
#head .centered .logo:hover {
  color: #ACACAC;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 93, ../sass/screen.scss */
#head .centered .bio {
  font-size: 18px;
  color: #313131;
}
/* line 97, ../sass/screen.scss */
#head .centered #nav {
  font-family: 'Snippet';
  font-weight: normal;
  color: black;
  font-size: 20px;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
/* line 107, ../sass/screen.scss */
#head .centered #nav a {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 111, ../sass/screen.scss */
#head .centered #nav a:hover {
  text-decoration: none;
  color: #ACACAC;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* About Section */
/* line 124, ../sass/screen.scss */
#about #aboutImage {
  left: 1000px;
  display: none;
}
/* line 128, ../sass/screen.scss */
#about #aboutText {
  left: -1000px;
  display: none;
  text-align: left;
}

/* Resume Section */
/* line 137, ../sass/screen.scss */
#resume .resumeSection {
  width: 500px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  opacity: 0.0;
}
/* line 143, ../sass/screen.scss */
#resume .resumeSection ul {
  text-align: left;
}
/* line 147, ../sass/screen.scss */
#resume .resumeSection.top {
  margin-top: 60px;
}

/* Project Section */
/* line 156, ../sass/screen.scss */
#projects .row .projectPanel {
  position: relative;
}
/* line 158, ../sass/screen.scss */
#projects .row .projectPanel .thumbnail {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
/* line 161, ../sass/screen.scss */
#projects .row .projectPanel .thumbnail .projectThumb {
  width: 200px;
  height: 200px;
}
/* line 167, ../sass/screen.scss */
#projects .row .projectPanel-left {
  left: -1500px;
}
/* line 170, ../sass/screen.scss */
#projects .row .projectPanel-right {
  left: 1500px;
}
/* line 173, ../sass/screen.scss */
#projects .row .projectPanel-left-center {
  left: -1500px;
}
/* line 176, ../sass/screen.scss */
#projects .row .projectPanel-right-center {
  left: 1500px;
}

/* Blog Section */
/* line 183, ../sass/screen.scss */
#blog .blogPreview {
  max-width: 70%;
  display: block;
  margin: auto;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  position: relative;
  top: -1000px;
  opacity: 0.0;
}
/* line 196, ../sass/screen.scss */
#blog .blogPreview .blogPreview-link:hover {
  text-decoration: none;
  color: black;
}
/* line 201, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta {
  display: block;
  clear: both;
  height: 50px;
  margin-bottom: 10px;
  line-height: 50px;
  vertical-align: bottom;
}
/* line 208, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta .blogPreview-title {
  display: inline-block;
  float: left;
  font-size: 40px;
  text-align: left;
  font-weight: 300;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
/* line 217, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta .blogPreview-title:hover {
  color: #0099CC;
}
/* line 221, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta .blogPreview-author {
  display: inline-block;
  float: right;
  position: relative;
  top: 15px;
  color: #777;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
}
/* line 232, ../sass/screen.scss */
#blog .blogPreview .blogPreview-post {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  font-weight: 300;
}
/* line 238, ../sass/screen.scss */
#blog .blogPreview .blogPreview-post .blogPreview-continue {
  color: #555;
}
/* line 243, ../sass/screen.scss */
#blog .post-top {
  border-top: 1px solid black;
}
/* line 246, ../sass/screen.scss */
#blog #viewMore {
  display: block;
  margin: auto;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 300;
  opacity: 0.0;
  -webkit-transition: color 0.1;
  -moz-transition: color 0.1;
  -o-transition: color 0.1;
  transition: color 0.1;
}
/* line 254, ../sass/screen.scss */
#blog #viewMore:hover {
  text-decoration: none;
  color: #0099CC;
}
/* line 259, ../sass/screen.scss */
#blog .sectionTitle + a:first-child {
  border-top: 1px solid black;
}

/* Contact Section */
/* line 265, ../sass/screen.scss */
#contact {
  min-height: 100px;
  padding-bottom: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #313131;
  color: white;
}
/* line 272, ../sass/screen.scss */
#contact a {
  color: white;
}
/* line 275, ../sass/screen.scss */
#contact #contact-button {
  display: block;
  margin: auto;
  margin-top: 20px;
  max-width: 800px;
}
/* line 281, ../sass/screen.scss */
#contact #contactText {
  display: block;
  margin: auto;
}

/* Fixed Navigation in corner */
/* line 289, ../sass/screen.scss */
#fixedNav {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0px;
  opacity: 0.0;
  margin-left: 15px;
  margin-bottom: 5px;
}
/* line 297, ../sass/screen.scss */
#fixedNav #fixedList {
  padding-left: 0px;
}
/* line 299, ../sass/screen.scss */
#fixedNav #fixedList li {
  margin-left: 5px;
  list-style-type: none;
}
/* line 303, ../sass/screen.scss */
#fixedNav #fixedList a {
  text-decoration: none;
}
/* line 305, ../sass/screen.scss */
#fixedNav #fixedList a:hover {
  color: black;
}
/* line 309, ../sass/screen.scss */
#fixedNav #fixedList i {
  margin-right: 5px;
  color: #313131;
}
/* line 312, ../sass/screen.scss */
#fixedNav #fixedList i:hover {
  color: black;
}
/* line 316, ../sass/screen.scss */
#fixedNav #fixedList span {
  display: none;
  color: black;
}

/* line 323, ../sass/screen.scss */
#toTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
  -o-transition: color .1s;
  -ms-transition: color .1s;
  transition: color .1s;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  -ms-transition: background-color .2s;
  transition: background-color .2s;
  opacity: 0.0;
}
/* line 338, ../sass/screen.scss */
#toTop a:hover {
  color: #313131;
  text-decoration: none;
}
/* line 343, ../sass/screen.scss */
#toTop i {
  display: inline;
  line-height: 40px;
  color: #313131;
  opacity: 0.5;
  font-size: 30px;
}
/* line 350, ../sass/screen.scss */
#toTop:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*Footer Section*/
/* line 356, ../sass/screen.scss */
#footer {
  padding: 15px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 0px;
  text-align: center;
  height: 150px;
  background-color: #425C81;
}
/* line 366, ../sass/screen.scss */
#footer #footerContainer {
  background-color: #CCC;
  width: 88%%;
  margin: auto;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 20px;
  /*box-shadow: 0px 5px 5px #222;*/
}
/* line 374, ../sass/screen.scss */
#footer #footerContainer #social {
  float: left;
  margin-left: 11%;
  top: -5px;
  display: block;
  height: 60px;
  clear: both;
  /* Hack to make all fit in line, b/c of Chrome's SVG shift */
}
/* line 1, ../sass/_socialButtons.scss */
#footer #footerContainer #social .socialIcons {
  background-image: url("../img/social.svg");
  width: 60px;
  height: 62px;
  display: inline-block;
  margin: 0px 5px;
}
/* line 8, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Twitter {
  background-position: 0px 0px;
}
/* line 11, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Twitter:hover {
  background-position: 0px -200px !important;
}
/* line 15, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Facebook {
  background-position: -79px 0px;
}
/* line 18, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Facebook:hover {
  background-position: -79px -200px !important;
}
/* line 22, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Github {
  background-position: -237px 0px;
}
/* line 25, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Github:hover {
  background-position: -237px -200px !important;
}
/* line 29, ../sass/_socialButtons.scss */
#footer #footerContainer #social #GooglePlus {
  background-position: -158px -81px;
}
/* line 32, ../sass/_socialButtons.scss */
#footer #footerContainer #social #GooglePlus:hover {
  background-position: -158px -279px !important;
}
/* line 36, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Blog {
  background-position: -79px -81px;
}
/* line 39, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Blog:hover {
  background-position: -79px -279px !important;
}
/* line 43, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Dropbox {
  background-position: -474px -81px;
}
/* line 46, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Dropbox:hover {
  background-position: -474px -279px !important;
}
/* line 50, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Medium {
  background-image: url(../img/medium-black.png);
  background-repeat: no-repeat;
}
/* line 54, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Medium:hover {
  background-image: url(../img/medium-color.png);
  background-repeat: no-repeat;
}
/* line 59, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Medium-chrome {
  background-image: url(../img/medium-black.png);
  background-repeat: no-repeat;
  top: -3px;
}
/* line 64, ../sass/_socialButtons.scss */
#footer #footerContainer #social #Medium-chrome:hover {
  background-image: url(../img/medium-color.png);
}
/* line 384, ../sass/screen.scss */
#footer #footerContainer #footerText {
  margin-right: 11%;
  display: block;
  text-align: right;
}
/* line 388, ../sass/screen.scss */
#footer #footerContainer #footerText .footerContent {
  display: inline;
  text-align: right;
}
