body{
	font-family: 'lato', sans-serif;
	font-weight: 300;
	background-image: url(../img/backgrounds/ticks.png);
	background-repeat: repeat;
}

#header{
	height: 75px;
	margin-left: 11%;
	margin-right: 11%;
	padding-top: 5px;
	display: block;
	top: 0px;
}
#content{
	top: 100px;
	margin: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 5px 5px 5px #AAA;
	clear: both;
	background-color: white;
}


.logo{
	font-family: 'Snippet';
	font-weight: normal;
	color: black;
	display: inline-block;
	font-size: 60px;
	float: left;
	margin-bottom: 10px;
}
.logo:hover{
	color: #0099CC;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
}
.bg {
  background: url(../img/backgrounds/geometry.png) repeat;
  position: fixed;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}
.nav{
	font-family: "Snippet";
	display: inline-block;
	color: black;
	float: right;
	font-size: 20px;
	padding-top: 34px;
	padding-bottom: 15px;
}
.nav .links{
	text-decoration: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
}
.links:hover{
	color: #0099CC;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
}

#footer{
	padding: 15px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	text-align: center;
}
.footerContent{
	display: inline;
	text-align: right;
}
#footerText{
	margin-right: 11%;
	display: block;
	text-align: right;
}
/* Social Icons stuff: */
#social{
	float: left;
	margin-left: 11%;
	top: -5px;
	display: block;
	height: 60px;
	clear: both;
}
.socialIcons{
	background-image: url('../img/social.svg');
    width: 60px;
	height: 60px;
	display: inline-block;
	margin: 0px 5px;
}

#Twitter{
	background-position: 0px 0px;
}
#Twitter:hover{
	background-position: 0px -200px;
}

#Facebook{
	background-position: -79px 0px;
}
#Facebook:hover{
	background-position: -79px -200px;
}

#Github{
	background-position: -237px 0px;
}
#Github:hover{
	background-position: -237px -200px;
}

#GooglePlus{
	background-position: -158px -81px;
}
#GooglePlus:hover{
	background-position: -158px -279px;
}

#Blog{
	background-position: -79px -81px;
}
#Blog:hover{
	background-position: -79px -279px;
}

#Dropbox{
	background-position: -474px -80px;
}
#Dropbox:hover{
	background-position: -474px -280px;
}

#Medium{
	background-image: url(../img/medium-black.png);
}
#Medium:hover{
	background-image: url(../img/medium-color.png);
}


/* high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    body{
        background-image: url(../img/backgrounds/ticks_@2X.png);
    }
}
