body{
	font-family: 'lato', sans-serif;
	font-weight: 300;
}
#header{
	height: 75px;
	padding-left: 50px;
	padding-right: 50px;
	position: fixed;
	top: 0px;
	background-color: white;
}
#content{
	margin-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
}
#footer{
	padding-left: 50px;
	padding-right: 50px;
}

.logo{
	font-family: 'Snippet';
	font-weight: normal;
	display: inline-block;
	padding-left: 20px;
	font-size: 60px;
	float: left;
}
.nav{
	font-family: "Snippet";
	color: black;
	float: right;
	font-size: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-left: 100px;
}
.nav .links{
	text-decoration: none;
	color: black;
	margin-left: 25px;
	margin-right: 25px;
	display: inline-block;
}
