/* General Rules */
html{
	height: 100%;
}
body{
	margin: 0px;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	font-size: 14px;
	background-color: #D1D2D3;
}
h2{
	font-family: 'Snippet';
	font-weight: normal;
	color: black;
	font-size: 30px;
}
a{
	text-decoration: none;
	font-weight: 500;
	color: black;
	-webkit-transition:color .1s;
	-moz-transition:color .1s;
	-o-transition:color .1s;
	-ms-transition:color .1s;
	transition:color .1s;
	-webkit-transition:font-weight .1s;
	-moz-transition:font-weight .1s;
	-o-transition:font-weight .1s;
	-ms-transition:font-weight .1s;
	transition:font-weight .1s;
}
a:hover{
	color: #D6EDFF;
}
.greet{
	font-size: 1.5em;
	font-weight: 300;
	margin: 5px;
	margin-left: 0px;
}
#homeLink:hover{
	text-decoration: none;
}
#backContainer{
	width: 90%;
	margin: auto;
	max-width: 1000px;
	height: 50px;
	padding-left: 0px;
}
#backLink{
	display: block;
	margin: 15px;
	margin-top: 25px;
	margin-left: 0px;
	font-size: 20px;
	color: black;
	font-weight: 300;
	background-color: rgb(155, 155, 155);
	padding: 10px;
	width: 181px;
	float: left;
	border-radius: 5px;
	text-align: center;
	vertical-align: center;
	-webkit-transition:color .1s;
	-moz-transition:color .1s;
	-o-transition:color .1s;
	-ms-transition:color .1s;
	transition:color .1s;
	-webkit-transition:background-color .1s;
	-moz-transition:background-color .1s;
	-o-transition:background-color .1s;
	-ms-transition:background-color .1s;
	transition:background-color .1s;
}
#backLink:hover{
	color: #0099CC;
	background-color: rgba(155, 155, 155, 0.7);
	text-decoration: none;
}
.sectionTitle{
	font-size: 50px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: center;
	-webkit-transition:color .1s;
	-moz-transition:color .1s;
	-o-transition:color .1s;
	-ms-transition:color .1s;
	transition:color .1s;
}
.sectionTitle:hover{
	color: #0099CC;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
}

/* Blog Section */
.blogPreview{
	max-width: 1000px;
	width: 90%;
	display: block;
	margin: auto;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 300;
}
.blogPreview-link:hover{
	text-decoration: none;
	color: black;
}
.blogPreview-meta {
	display: block;
	clear: both;
	margin-bottom: 10px;
	line-height: 40px;
	vertical-align: bottom;
}
.blogPreview-title {
	display: inline-block;
	float: left;
	font-size: 40px;
	text-align: left;
	vertical-align: bottom;
	font-weight: 300;
}
.blogPreview-title:hover {
	-webkit-transition:color .1s;
	-moz-transition:color .1s;
	-o-transition:color .1s;
	-ms-transition:color .1s;
	transition:color .1s;
	color: #0099CC;
}

.blogPreview-author {
	display: inline-block;
	float: right;
	position: relative;
	top: 15px;
	color: #777;
	vertical-align: bottom;
}
.blogPreview-post {
	display: block;
	width: 100%;
	text-align: left;
	margin-top: 5px;
	font-weight: 300;
	clear: both;
}
.blogPreview-continue {
	color: #555;
}
.post-title{
	border-top: 1px solid black;
	padding-top: 10px;
}

#viewMore {
	display: block;
	margin: auto;
	font-size: 20px;
	padding-top: 10px;
	font-weight: 300;
	opacity: 0.0;
}
.pagination{
	display: block;
	margin: auto;
	margin-top: 15px;
	color: black;
}