<a href="/backend/" class="logo">Admin Panel</a>
<span class="nav"><a href="/backend/" class="links" id="nav-home">Home</a><a href="/backend/links" class="links" id="nav-linkGenerator">Link Generator</a><a href="/backend/blog-admin" class="links" id="nav-blogAdmin">Blog Admin</a></span>

